venv/
__pycache__/
*.pyc
*.db*
uploads/
.env
*.gguf
.DS_Store
.secret_key
*.bak*
*.backup*
lora_audit_model*
adapter_model.safetensors
adapter_config.json
*.zip
!PACZKA_PROJEKTU/paczka_strona_www.zip
PACZKA_PROJEKTU/*
!PACZKA_PROJEKTU/paczka_strona_www.zip
!PACZKA_PROJEKTU/README.txt
